body {
    background: #F9EFDB;
}

.carousel {
    height: 75vh;
    perspective: 300px;
}

.carousel .carousel-item {
    width: 500px;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem;
    background-color: #fff;
    width: 450px;
    height: 379px;
    color: #262626;
    border-radius: 50px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.img-area img{
    border-radius: 50%;
    border: 5px solid #000;
    margin-top: -75px;
    width: 35%;
}

.box1{
    background: #DF826C;
    height: 125px;
    border-radius: 25px 25px 0 0;
}

.img-area {
    text-align: center;
}

.main-text{
    padding: 8px 0;
    text-align: center;
}

.main-text h2{
    font-weight: 1000;
    font-size: 30px;
    margin: 0 0 20px;
    font-family: 'Courier New', Courier, monospace
}

.main-text p{
    font-size: 20px;
    padding: 0 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}